<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include banner.html %}

    <div class="page-content">
    		<!-- Main -->
			<article id="main">
				<header class="special container">
					<span class="icon solid fa-chart-bar"></span>
				</header>

				<section class="wrapper style3 container special">
          <div class="col-9">
            <div class="6u">
              {{ content }}
            </div>
          </div>
				</section>
					
			</article>
    </div>

    {% include footer.html %}

  </body>

</html>
